@model GameLibrary.Web.ViewModels.Index.IndexViewModel
@using GameLibrary.Common
@{
    this.ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to @GlobalConstants.SystemName!</h1>
    <ul class="list-group "offset-3 col-6"">
        <li class="list-group-item bg-info">Categories:@Model.CategoriesCount</li>
        <li class="list-group-item bg-light">Games:@Model.GamesCount</li>
        <li class="list-group-item bg-info">Publishers:@Model.PublishersCount</li>
        <li class="list-group-item bg-light">Creators:@Model.CreatorsCount</li>
        <li class="list-group-item bg-info">AplicationUsers:@Model.AplicationUsersCount</li>
    </ul>
</div>
